{{$apps := .Applications}}
[backends]{{range .Tasks}}
  {{ if not ( eq .State "TASK_KILLING" ) }}
    [backends."{{getBackend . $apps}}".servers."server-{{.ID | replace "." "-"}}"]
    url = "{{getProtocol . $apps}}://{{.Host}}:{{getPort . $apps}}"
    weight = 1
  {{ end }}
{{end}}

{{range .Applications}}
{{ if hasLoadBalancerLabels . }}
      [backends."{{getFrontendBackend . }}".loadbalancer]
        method = "wrr"
        sticky = {{getSticky .}}
{{end}}
{{end}}

[frontends]{{range $apps}}
  [frontends."{{.ID}}"]
  backend = "{{.ID}}"
  #passHostHeader = {{getPassHostHeader .}}
  passHostHeader = false
  priority = 1
  entryPoints = [{{range getEntryPoints .}}
    "{{.}}",
  {{end}}]
    [frontends."{{.ID}}".routes."{{.ID}}"]
    rule = "{{getFrontendRule .}}"
{{end}}
